/*@media screen and (min-width: 481px) and (max-width: 781px) { */

/*git test*/
body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background-color: white;
    color: #333333;
}

.nav {
    /*navigation bar at top of page,couldnt get rid of a white bar above that for ages, margin 0 fixed it!*/
    margin: 0;
    background-color: #006400;
    font-size: 15px;
    color: white;
    list-style: none;
    text-align: right;
    padding: 10px 0 10px 0;
    font-weight: 500;

}

.nav>li {
    /*where list is displayed*/
    display: inline-block;
    padding-right: 50px;
}

.nav>li>a {
    /* the list text in the nav bars properties*/
    text-decoration: none;
    color: white;

}

.nav>li>a:hover {
    /* what happens when you hover mouse over nav bar lists elements, these need to be wider*/
    background-color: #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;

}

.logo img {
    /* logo img bad quality shouldreplace*/
    margin: 0;
    float: left;
    padding-left: 25px;
    margin: 0px;
    height: 35px;
    width: 200px;
}

h1 {
    font-size: 50px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    margin-top: 21px;
    margin-bottom: 10.5px;
    font-family: inherit;
    line-height: 1.1;
    text-align: center;
    color: #333333;
    ;
    margin: 0.67em 0;


}

h2 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    font: size 32px;
    margin-top: 21px;
    margin-bottom: 10.5px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    text-align: center;

    /*display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /*font-weight: bold; */
}


p {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 0 10.5px;
    text-align: center;

}

.donate-text>p {
    font-size: 17.5px;
    margin: 0px 0px 10.5px;
    padding: 5px 0px;
    font-weight: bold;
}

.donate-button {
    font-weight: 400;
    white-space: normal;
    background: transparent;
    transition: 0.2s ease-in-out, border 0.2s ease-in-out;
    padding: 10px 16px;
    font-size: 19px;
    line-height: 1.33;
    border-radius: 6px;
}

.donate-button>a {
    color: darkgreen;
    background-color: darkgreen;
    border-color: #004a00;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;

    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;



}